p {
	color: darkgreen;
}
.text {
	color: darkorange;
}
#block {
	color: darkred;
}
.tittle {
	color: deepskyblue;
}
.header {
	color: firebrick;
}
.main {
	color: blueviolet;
}
.page {
	color: rgb(52, 54, 54);
}
.sheet {
	color: darkblue;
}
.paragraph {
	color: rgb(95, 76, 15);
}